@model  UserAuditListViewModel

<h2>User Audit List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Date Of Birth</th>
                <th>Email</th>
                <th> Active</th>
                <th> Audit Type</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Forename
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.DateOfBirth.Date.ToShortDateString()
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @(item.IsActive ? "Yes" : "No")
                    </td>
					<td>
						@item.AuditLogType.ToString()
					</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
								<li><a class="dropdown-item" asp-controller="usersAudit" asp-action="ViewDetail" asp-route-id="@item.Id">View Detail</a></li>
                              
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
